.photo-wraper{
    display: inline-block;
    height: 200px;
    margin: 20px;    
  }
  .photo-item{ 
      height: 100%;;
  }
  .homework-photos{
      margin-top:15px;
      padding: 0 10px;
      text-align: center;
      height: 278px;
      /* background-color: #eee; */
      overflow: auto;
      line-height: 218px;
      white-space: nowrap;

  }