.btn{
 text-align: center;
    padding: 16px 10px;
    margin-top: 20px;
    color: aqua;
    font-size: 25px;
    font-weight: 600;
    opacity: 0.6;
    transition: color .3s ease-in;
}
.divider{
    position: relative;
    
};
.divider:after{
    content: ' ';
    position: absolute;
    background-color: #000;
    height: 1px;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scaleY(0.5);
}