.studentInfo{
    height: 50px;
    font-size: 14px;
    overflow: hidden;
    /* background-color: #ddd; */
    display: flex;
    align-items: center;
    /* margin: 10px 0; */
}
.review-box{
    padding: 10px;
}

.homework-info{
    display: inline-block;
    flex: 1;
}
.excellent{

}