.row{
    /* display: flex;
    align-items: center;
    justify-content: center; */

    height: 100%;
    width: 100%;
}
.game-area{
    position: relative;
    height: 505px;
    width: 505px;
    /* background-color: #806C00; */
}
.game-wraper{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FFCCB8;
    display: flex;
    justify-content: center;
}
.game-main{
    border-radius: 16px;
    /* overflow: hidden; */
}


@media screen and (max-width: 500px) {
    .game-wraper {
        background-color:lightblue;
    }
    .game-main{
        width: 300px;

    }
}