.row{
    /* display: flex;
    align-items: center;
    justify-content: center; */

    height: 100%;
    width: 100%;
}
.game-wraper{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FFCCB8;
    display: flex;
    /* align-items: center; */
    justify-content: center
}
.game-main{
    border-radius: 16px;
    overflow: hidden;
}
.title2048{
    font-weight: 800;
    font-size: 80px;
    margin-right: 25px;
    height: 106px;
}
.header-warper{
    /* overflow: hidden; */
}
.header-right{
    display: inline-block;
    margin-left: 135px;
}
.score{
    width: 150px;
    height: 50px;
    float: right;
    background-color: #F08080;
    border-radius: 15px;
    text-align: center;
    font-size: 33px;
    font-weight: 600;
}
.restart-btn{
    /* float: right; */
    text-align: center;
    width: 200px;
    height: 35px;
    border: none;
    background-color: #fff;
    outline: none;
    cursor: pointer;
    border-radius: 6px;
    margin: 6px 0;
    font-size: 18px;
    font-weight: 600;
}